/* https://codepen.io/FelixRilling/pen/qzfoc */
:root {
    --animationFrom: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 50px #228DFF, 0 0 75px #228DFF, 0 0 100px #228DFF;
  --animationTo: 0 0 5px #fff,  0 0 10px #228DFF, 0 0 40px #228DFF, 0 0 75px #228DFF;
  --animationTime: neon 3s ease-in-out infinite alternate;

  /* --animationFrom:0 0 10px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 75px #228DFF, 0 0 100px #228DFF, 0 0 125px #228DFF, 0 0 150px #228DFF, 0 0 175px #228DFF;
  --animationTo: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF; */
}


  p:nth-child(1) a {
    font-size: 1.5em;
    color: var(--second-color);
    font-family: Monoton;
  }
  
  p:nth-child(1) a:hover {
    -webkit-animation: var(--animation);
    -moz-animation: var(--animation);
    animation: var(--animation);
  }
  
  p a:hover {
    color: #ffffff;
  }
  
  @-webkit-keyframes neon {
    from {
      text-shadow: var(--animationFrom);
    }
    to {
      text-shadow: var(--animationTo);
    }
  }
  
  @-moz-keyframes neon {
    from {
      text-shadow: var(--animationFrom);
    }
    to {
      text-shadow: var(--animationTo);
    }
  }
  
  @keyframes neon {
    from {
      text-shadow: var(--animationFrom);
    }
    to {
      text-shadow: var(--animationTo);
    }
  }
  